/* Estilo para o botão flutuante de adicionar */
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #0d6efd;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    font-size: 24px; /* Tamanho do ícone */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.my-float {
    color: white;
}

body {
    padding-top: 60px; /* Ajuste este valor se a sua navbar for mais alta */
}